@use 'base' as *;

.container {
    background-color: $container-bg;
    border-left: 10px solid $border;
    border-right: 10px solid $border;

    p, small {
        line-height: 1.8rem;
        margin-top: 1rem;
    }
}
.container-large {
    margin: 0 auto;
    padding: 40px;
    width: 100%;
    max-width: $max-width;

    h1 {
        font-size: 2rem;
        font-weight: 700;
        display: inline;
        vertical-align: middle;

    }
    #cat-gif {
        vertical-align: middle;
        width: auto;
        height: 60px;
        margin: 0 1rem;
    }
    
    small {
        font-style: italic;
        font-size: 0.8rem;
        filter: opacity(50%);
        text-align: right;
        display: block;
    }
    .socials {
        a {
            text-decoration: none;
        }

        img {
            vertical-align: middle;
            margin: auto 2px;
            margin-bottom: -1rem;
            transition: 0.2s ease all;

            &:hover {
                filter: opacity(50%);
            }
        }
    }
}
.container-small {
    height: 25rem;
    padding: 1rem;

    h2 {
        margin: 1rem;
    }

    .blog-container {
        overflow: auto;
        height: 76%;
    }
    
    article {
        background-color: white;
        padding: 1.5rem 1rem;
        border-radius: 12px;
        line-height: 1.8rem;
        margin-bottom: 2rem;

        h3 {
            font-size: 1.5rem;
            margin-bottom: 0.5rem;
        }

        .date {
            color: #91bdff;
            font-weight: 700;
        }

        .tag {
            padding: 8px;
            border-radius: 12px;
            background-color: #f5aaff;
            color: white;
        }

        hr {
            margin: 1rem 0;
            border: 1px solid rgba(0, 0, 0, 5%);
        }
    }
    #pack-icon {
        float: left;
        margin-right: 1rem;
        width: 50%;
    }

    &.h2 {
        // height: 100%;
        display: inline-block;
    }
}
h2#highlighted-h2 {
    max-width: $max-width;
    background-color: white;
    text-align: center;
    font-size: 1.8rem;
    padding: 10px;
    font-weight: 700;
    margin: 1rem auto;
    box-shadow: 6px 6px 0 $box-shadow;
}

footer {
    bottom: 0;
    position: fixed;
    display: flex;
    width: 100%;
    height: 7rem;
    background-color: $container-bg;
    border-top: 10px dashed $border;

    h3 {
        align-self: flex-end;
        margin: 0.5rem;
        font-weight: 400;
    }

    h3, span {
        font-style: italic;
    }
}