@use 'base' as *;

.container {
	border-left: 10px solid #f8a9ff;
	border-right: 10px solid #f8a9ff;
	p {
		line-height: 1.8rem;
		margin-top: 1rem;
	}
	small {
		line-height: 1.8rem;
		margin-top: 1rem;
	}
}
.container-large {
	margin: 0 auto;
	padding: 40px;
	width: 100%;
	max-width: 1100px;
	h1 {
		font-size: 2rem;
		font-weight: 700;
		display: inline;
		vertical-align: middle;
	}
	#cat-gif {
		vertical-align: middle;
		width: auto;
		height: 60px;
		margin: 0 1rem;
	}
	small {
		font-style: italic;
		font-size: 0.8rem;
		filter: opacity(50%);
		text-align: right;
		display: block;
	}
	.socials {
		a {
			text-decoration: none;
		}
		img {
			vertical-align: middle;
			margin: auto 2px;
			margin-bottom: -1rem;
			transition: 0.2s ease all;
			&:hover {
				filter: opacity(50%);
				transform: rotate(10deg);
			}
		}
	}
}
.container-small {
	height: 25rem;
	padding: 1rem;
	h2 {
		margin: 1rem;
	}
	.blog-container {
		overflow: auto;
		height: 76%;
	}
	article {
		padding: 1.5rem 1rem;
		border-radius: 12px;
		line-height: 1.8rem;
		margin-bottom: 2rem;
		&.newPostAlert {
			border: 4px solid white;
			animation-name: colorChange;
			animation-duration: 2s;
			@keyframes colorChange {
				50% {border-color: rgb(255, 117, 234);}
				100% {border-color: white;}
			}
		}
		

		h3 {
			font-size: 1.5rem;
			margin-bottom: 0.5rem;
		}
		.tag {
			padding: 8px;
			border-radius: 12px;
			color: white;
		}
		hr {
			margin: 1rem 0;
			border: 1px solid rgba(0, 0, 0, 0.05);
		}
		code {
			font-family: monospace;
			border-radius: 4px;
			padding: 1px;
		}
	}
	#pack-icon {
		float: left;
		margin-right: 1rem;
		width: 50%;
	}
}
h2#highlighted-h2 {
	max-width: 1100px;
	text-align: center;
	font-size: 1.8rem;
	padding: 10px;
	font-weight: 700;
	margin: 1rem auto;
	border-radius: 24px;
	box-shadow: 6px 6px 0 #ffacec;
}
footer {
	bottom: 0;
	position: fixed;
	display: flex;
	width: 100%;
	height: 7rem;
	border-top: 10px dashed #f8a9ff;
	#oc-art {
		position: absolute;
		top: -90%;
		left: 50%;
		transform: translate(-50%, -50%);
		height: 20rem;
		transition: 0.5s ease;
		&:hover {
			opacity: 20%;
			
		}
	}
	h3 {
		align-self: flex-end;
		margin: 0;
		margin-right: 1rem;
		padding: 0.3rem 0.5rem;
		font-weight: 400;
		font-size: 1rem;
		border-top-right-radius: 1rem;
	}
}