body {
  background-color: #fae6ff;
  font-family: sans-serif;
  color: #3478d1;
  margin: 0;
}
body a {
  color: #3478d1;
}
body a:hover {
  color: #7cb2fa;
}
body ul {
  list-style-type: square;
}
body li {
  margin-bottom: 7px;
}
body main {
  line-height: 30px;
}
body main .container {
  background-color: #fccbff;
  max-width: 1000px;
  margin: 70px auto;
  padding: 40px;
  border-left: solid #f8a9ff 10px;
  border-right: solid #f8a9ff 10px;
}
body main .container h1 {
  display: inline;
  vertical-align: middle;
}
body main .container #catgif {
  width: 80px;
  display: inline;
  vertical-align: middle;
  margin-left: 1em;
}
body footer {
  background-color: #fccbff;
  border-top: dashed #f8a9ff 10px;
  height: 120px;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
}
body footer nav {
  display: inline-block;
  margin: 12px;
}
body footer nav a {
  display: block;
  padding: 10px;
  background-color: white;
  color: #3478d1;
  border-radius: 8px;
  margin-bottom: 0.5em;
}
body footer .socials img {
  float: right;
  width: 50px;
  display: block;
  margin-top: 1em;
  margin-right: 1em;
  filter: opacity(60%);
}
body footer .socials img:hover {
  filter: opacity(40%);
}
body footer .socials #insta {
  width: 56px;
  margin-top: calc(1em - 3px);
}
body footer #slackimg {
  width: 320px;
  display: inline-block;
  position: absolute;
  left: 50%;
  top: -210%;
  transform: translate(-50%, 0);
  z-index: -1;
}
