$primary: #fccbff;
$border: #f8a9ff;

body {
    background-color: #fae6ff;
    font-family: sans-serif;
    color: #3478d1;
    margin: 0;
    
    nav {
        display: inline-block;
        margin:12px;

        a { // 'a' tags are stored inside of a nav tag so they may be displayed as blocks, while staying clickable as inlines.
            display: inline-block;
            padding: 10px;
            background-color: white;
            color: #3478d1;
            border-radius: 8px;
            text-decoration: none;

            &:hover {
                color: #7cb2fa;
            }
        }
    }
    ul {
        list-style-type: square;
    }
    li {
        margin-bottom: 7px;
    }
    main {
        line-height: 30px;

        .container {
            background-color: $primary;
            max-width: 1000px;
            margin: 70px auto;
            padding: 40px;
            border-left: solid $border 10px;
            border-right: solid $border 10px;
            z-index: -2;

            h1 {
                display: inline;
                vertical-align: middle;
            }
            #catgif {
                width: 80px;
                display: inline;
                vertical-align: middle;
                margin-left: 1em;
            }
        }
        #slackimg {
            width: 320px;
            display:inline-block;
            position: absolute;
            left: 50%;
            bottom: 4%;
            transform: translate(-50%, 0);
            z-index: 0;

            @media screen and (max-width: 500px) {
                & {
                    width: 280px;
                    bottom: 5%;
                }
            }
        }
    }
    footer {
        background-color: $primary;
        border-top: dashed $border 10px;
        height: 120px;
        width: 100%;
        position:fixed;
        left: 0;
        bottom:0;
        z-index: -1;
    }
}
