$primary: #fccbff;
$border: #f8a9ff;

$button-animation: all 0.2s ease-in-out;

body {
    background-color: #fae6ff;
    font-family: 'Nunito', sans-serif;
    color: #3478d1;
    margin: 0;
    
    nav {
        display: inline-block;
        margin:12px;

        a { // 'a' tags are stored inside of a nav tag so they may be displayed as blocks, while staying clickable as inlines.
            display: inline-block;
            padding: 10px;
            background-color: white;
            color: #3478d1;
            border-radius: 8px;
            text-decoration: none;
            width: 50px;
            transition: $button-animation;
            text-align: center;
            box-shadow: 5px 5px 10px $primary;
    
            &:hover {
                transition: $button-animation;
                width: 70px;
                text-decoration: underline;
            }
        }
    }
    ul {
        list-style-type: square;
    }
    li {
        margin-bottom: 7px;
    }
    main {
        line-height: 30px;

        #intro-section {
            .container {
                background-color: $primary;
                border-left: solid $border 10px;
                border-right: solid $border 10px;
                max-width: 1000px;
                margin: 1em auto;
                padding: 40px;
    
                h1 {
                    display: inline;
                    vertical-align: middle;
                    font-size: 2em;
                }
                #catgif {
                    width: 80px;
                    display: inline;
                    vertical-align: middle;
                    margin-left: 1em;
                }
            }
        }
        #projects-section {
            h2 {
                text-align: center;
                background-color: white;
                padding: 15px;
                font-size: 1.8em;
                max-width: calc(1100px - 30px); // accounts for padding
                margin: 1em auto;
            }
            .container {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: auto;
                max-width: 1100px;
                margin: 1em auto;
                margin-bottom: 20em;
                grid-gap: 1em;

                @media screen and (max-width: 600px) {
                    grid-template-columns: 1fr;
                }

                .child-container {
                    background-color: $primary;
                    border-left: solid $border 10px;
                    border-right: solid $border 10px;
                    padding: 20px;

                    h3 {
                        font-size: 1.5em;
                    }
                    img {
                        width: 50%;
                        display: inline;
                        float: left;
                        margin-right: 1em;
                    }
                    a {
                        color: inherit;
                    }
                }
            }
        }
    }
    footer {
        background-color: $primary;
        border-top: dashed $border 10px;
        height: 120px;
        width: 100%;
        position:fixed;
        left: 0;
        bottom:0;

        a {
            box-shadow: 5px 5px 10px #e8b9eb;
            width: 100px;
            transition: $button-animation;

            &:hover {
                transition: $button-animation;
                width: 120px;
            }
        }

        #slackimg {
            width: 300px;
            display:inline-block;
            position: absolute;
            left: 50%;
            top: -180%;
            transform: translate(-50%, 0);
            z-index: -1;

            @media screen and (max-width: 500px) {
                width: 230px;
                top: -140%;
            }
        }
    }
}