body {
    .wrap {
        max-width: 650px;
        margin: 150px auto;
        background-color: white;
        padding:40px;
        border-radius: 30px;
        h1 {color:hsl(24, 5%, 18%)!important;}
        p {font-size:16px;}
        h1, h2, h3 {font-family: "Young Serif", sans-serif;color:hsl(14, 45%, 36%);font-weight:400;}
        p, li, td {font-family: "Outfit", sans-serif;color:hsl(30, 10%, 34%);}
        h3 {
            font-family:Outfit,sans-serif;
            color:hsl(332, 51%, 32%);
            font-weight: 600;
        }
        li {padding-bottom:12px;padding-left:15px;}
        ::marker {color:hsl(14, 45%, 36%);font-weight:700;}
        hr {
            height: 1px;
            border: 0;
            border-top: 1px solid hsl(30, 18%, 87%);
          }
        table {width:100%;}
        td {
            border-bottom: 1px solid hsl(30, 18%, 87%);
            padding: 12px 0;
            color: hsl(14, 45%, 36%);

        }
        tr :nth-child(2){font-weight:700;}
        img {width:100%;border-radius: 15px;}
    }
    background-color: hsl(30, 54%, 90%);
    margin:0;

    @media only screen and (max-width:720px) {
        .wrap {border-radius: 0;margin:0}
        .attribution {background: white;padding:1px 0;}
    }
    .attribution {
        a, p {text-align:center;font-family:"Outfit",sans-serif;}
    }
}
