body {
    background-color:#d5e1ef;
    text-align:center;

    .wrap {
        background-color: white;
        max-width:290px;
        margin:180px auto;
        border-radius:20px;
        padding: 16px;

        img {
            max-width:100%;
            border-radius:8px;
        }
        .information {padding: 0 5px;}
    }
    p {color:hsl(220, 15%, 55%);font-weight:400;}
    h2 {color:hsl(218, 44%, 22%);font-weight:700;font-size: 22px;}
    font-family:"Outfit", sans-serif;
}